// <uniquifier>: edufont
// <weight>: 400

.edu-au-vic-wa-nt-guides-<edufont> {
  font-family: "Edu AU VIC WA NT Guides", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
